* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  height: 100vh;
  background: #7c3aed;
  display: flex;
}

nav {
  margin: 148px 0 0 35px;
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  gap: 3.6rem;
}

nav > img {
  position: absolute;
  width: 5rem;
  left: 35px;
  top: 32px;
}

nav section {
  height: 2rem;
  color: #cab3ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

nav section img {
  width: 2rem;
}

.container {
  padding: 4.8rem 3.2rem;
  gap: 3.2rem;
  background: #fbfaff;
  border-radius: 3.2rem 0rem 0rem 0rem;
}
