* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  height: 100vh;
  background: #7c3aed;
  display: flex;
}

h1,
h2,
h3 {
  color: #403937;
  line-height: 130%;
}

nav {
  margin: 14.8rem -3rem 0 3.5rem;
  min-width: 17.5rem;
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  gap: 3.6rem;
}

nav > img {
  position: absolute;
  width: 5rem;
  left: 3.5rem;
  top: 3.2rem;
}

nav section {
  height: 2rem;
  color: #cab3ff;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 125%;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

nav section img {
  width: 2rem;
}

.container {
  padding: 4.8rem 3.2rem;
  gap: 3.2rem;
  width: calc(100vw - 17.5rem);
  background: #fbfaff;
  border-radius: 3.2rem 0rem 0rem 0rem;
  display: grid;
  gap: 3.2rem;
}

header {
  height: 24px;
  padding: 0 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header img {
  width: 64px;
}

.title {
  display: flex;
  gap: 1.2rem;
}

.title img{
  width: 24px;
}
