* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  height: 100vh;
  background: #7c3aed;
  display: flex;
}

h1,
h2,
h3 {
  color: #403937;
  line-height: 130%;
}

nav {
  margin: 14.8rem -3rem 0 3.5rem;
  min-width: 17.5rem;
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  gap: 3.6rem;
}

nav > img {
  position: absolute;
  width: 5rem;
  left: 3.5rem;
  top: 3.2rem;
}

nav section {
  height: 2rem;
  color: #cab3ff;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 125%;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

nav section img {
  width: 2rem;
}

.container {
  padding: 4.8rem 3.2rem;
  margin-top: 0.4rem;
  gap: 3.2rem;
  width: calc(100vw - 17.5rem);
  background: #fbfaff;
  border-radius: 3.2rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

header {
  height: 6.4rem;
  padding: 0 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 6.4rem;
  border-radius: 50%;
}

header > :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 50%;
  background: linear-gradient(
    114deg,
    rgba(124, 58, 237, 1) 42%,
    rgba(168, 16, 198, 1) 100%
  );
}

.title {
  display: flex;
  gap: 1.2rem;
}

.title img,
middle > img {
  width: 2.4rem;
}

middle {
  height: 4.8rem;
  display: flex;
  gap: 1.6rem;
  padding: 0 2.4rem;
}

#filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 3.2rem;
  gap: 0.8rem;
  width: 13.5rem;
  background: #7c3aed;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.4rem;
  line-height: 2.4rem;
  border: none;
}

#input-wrapper {
  display: flex;
  align-items: center;
  padding: 24px;
  gap: 10px;
  width: 100%;
  background: #ffffff;
  border: 0.7px solid #e3e3e3;
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
  border-radius: 8px;
}

middle input {
  all: unset;
  width: 100%;
}

middle input::placeholder {
  font-size: 16px;
  color: #7c7c8a;
}
