* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  height: 100vh;
  background: url(./assets/backgrounds/background.png) right;
  background-size: cover;
  display: grid;
  place-content: center;
  padding: 14.4rem;
  gap: 3.2rem;
}

white {
  color: #ffffff;
}

.main {
  position: relative;
  height: 48rem;
  background: url(./assets/backgrounds/main-bg.svg);
  border-radius: 1rem;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  grid-row: 1/3;
  grid-column: 1/2;
}

.main span {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #c2bff4;
}

.main > img {
  position: absolute;
  left: -5.6rem;
  top: -5.6rem;
}

.location {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #c2bff4;
  align-self: flex-end;
  display: flex;
  align-items: center;
  margin: 2.5rem 2.5rem 0 0;
}

.temperature {
  align-self: center;
  display: grid;
  gap: 0.4rem;
  height: 13.4rem;
  margin-bottom: 8rem;
}

.temperature > span {
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
}

.temperature-number {
  display: flex;
}

.temperature-number h1 {
  font-size: 8.8rem;
  line-height: 10.6rem;
}

.temperature-number span {
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #dad8f7;
  margin-top: 1.5rem;
}

.statistics {
  display: flex;
  gap: 0.8rem;
}

.statistics > div {
  display: flex;
  align-items: center;
  padding: 1.2rem 1.6rem;
  gap: 1.2rem;
  width: 14.6rem;
  height: 6rem;
  background: rgba(102, 96, 200, 0.6);
  border-radius: 0.6rem;
  color: #e7e6fb;
}

.statistics .info {
  display: flex;
  flex-direction: column;
}

.statistics span {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
 color: #E7E6FB;
}

.statistics p {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.statistics p2 {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.info .number {
  display: flex;
  gap: 0.4rem;
  align-items: flex-end;
}

.week-weather,
.sun-time,
.air-quality {
  background: #6d67d0;
  border-radius: 1rem;
}

.week-weather {
  display: flex;
  padding: 4rem;
  gap: 1.2rem;
  grid-row: 2/3;
  grid-column: 2/4;
}

.week-weather :first-child img {
  width: 6.4rem;
}

.day{
  display: grid;
  justify-items: center;
  gap: 1.6rem;
  width: 90px;
  height: 132px;
}

.day h1 {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #dad8f7;
}

.day span {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #C2BFF4;
}



/* @media (min-width: 30rem){
}

@media (min-width: 48rem){
} 

@media (min-width: 64rem){
}

@media (min-width: 75rem){
} */
